.app_marine_theme {
    --bg-color: #f4f7fb;
    --inverted-bg-color: #1a4780;
    --primary-color: #135d5c;
    --inverted-primary-color: #f4f7fb;
    --secondary-color: #1a4780;
    --inverted-secondary-color: #f4f7fb;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #d9dde1;

    // listbox
    --listbox-bg: #d9dde1;
}
