.button {
    padding: 6px 12px;
    cursor: pointer;
    color: var(--primary-color);

    &.sizeM {
        font: var(--font-m);
    }

    &.sizeL {
        font: var(--font-l);
    }

    &.sizeXL {
        font: var(--font-xl);
    }

    &:hover {
        opacity: 0.8;
        fill-opacity: 80%;
        stroke-opacity: 80%;
    }
}

.square {
    padding: 0;

    &.sizeM {
        width: var(--font-line-m);
        height: var(--font-line-m);
    }

    &.sizeL {
        width: var(--font-line-l);
        height: var(--font-line-l);
    }

    &.sizeXL {
        width: var(--font-line-xl);
        height: var(--font-line-xl);
    }
}

.clear,
.clearInverted {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.clearInverted {
    color: var(--inverted-primary-color);
}

.outline {
    background: none;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.outlineRed {
    background: none;
    border: 1px solid var(--red-light);
    color: var(--red-light);
}

.background {
    background: var(--bg-color);
    border: none;
    color: var(--primary-color);
}

.backgroundInverted {
    background: var(--inverted-bg-color);
    border: none;
    color: var(--inverted-primary-color);
}

.disabled {
    opacity: 0.5;
}
